<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
<script>
	$(function(){
		$("#del_btn").click(function(){
			$("#delForm").submit();
		});
		$("#search_btn").click(function(){
			$("#sForm").submit();
		});
	});
</script>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">コンバージョンタグ管理 > クライアントー覧</div>
<form action="" name="sForm" id="sForm" method="post">
<div class="number">全広告数：<span class="pink"><#PRINT allNum#></span>　<#INCLUDE navigation-conversion.template#></div>
<input type="hidden" name="search_flag" id="search_flag" value="search_flag" />
</form>
<p class="border-btm"></p>
<form action="" name="delForm" id="delForm" method="post" >
<table border="0" cellspacing="2" cellpadding="3">
<tr>
<td width="100" class="title-tbl">NO</td>
<td width="150" class="title-tbl">クライアントコード</td>
<td width="150" class="title-tbl">会社名</td>
<td width="150" class="title-tbl">会社ウェブサイト</td>
<td width="220" class="title-tbl">売り上げ合計(円)</td>
<td width="150" class="title-tbl">コンバージョン率</td>
<td width="100" class="title-tbl">削除</td>
</tr>
<#LOOP_START dataAll#>
<tr>
<td class="tbl"><#LOOP_PRINT no#></td>
<td class="tbl"><a href="client-detail.php?cid=<#LOOP_PRINT id#>"><#LOOP_PRINT client_code#></a></td>
<td class="tbl"><#LOOP_PRINT company_name#></td>
<td class="tbl"><#LOOP_PRINT url#></td>
<td class="tbl"><#LOOP_PRINT total#></td>
<td class="tbl"><#LOOP_PRINT conversion_rate#></td>
<td class="tbl" align="center"><input type="checkbox" name="delete_id[]" value="<#LOOP_PRINT id#>"/></td>
</tr>
<#LOOP_END dataAll#>
</table>
<input type="hidden" name="del_flag" id="del_flag" value="del_flag">
</form>
<div align="right">
<a href="javascript:void(0)" id="del_btn"><input type="button" class="space02" value="削除" /></a>
</div>

<div id="page" align="center">
<a href="banner.php?p=<#PRINT prev_page#>"><#PRINT str_prev_page#></a>
<#LOOP_START pages#>
	<#LOOP_PRINT ipage_link_str#><#LOOP_PRINT ipage#><#LOOP_PRINT ipage_link_a#>
<#LOOP_END pages#>
<a href="banner.php?p=<#PRINT next_page#>"><#PRINT str_next_page#></a>
</div>

<!--end of table-->


</div>
</body>
</html>
