<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
<script>
	$(function(){
		$("#save_btn").click(function(){
		$("#save_form").submit();
	});
	});
</script>
<script type='text/javascript'>//<![CDATA[
	$(function(){
	    $(".preview").css({"background-size":  "550px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url()"});
    })

function onUpload(fileObj) {
    var file;
    if (fileObj.files) {
        file = fileObj.files[0];
        var fr = new FileReader;
        fr.onloadend = changeimg;
        fr.readAsDataURL(file)
    } else {
        file = fileObj.value;
        changeimg(file);
    }
}

function onbrowse() {
    document.getElementById('bannerfile').click();
}

function changeimg(str) {
    if(typeof str === "object") {
        str = str.target.result; // file reader
    }

    $(".preview").css({"background-size":  "550px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(" + str + ")"});
}

	$(function(){
	    $(".preview2").css({"background-size":  "220px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url()"});
    })

    $(function(){
	    $(".preview3").css({"background-size":  "220px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url()"});
    })

function onUpload2(fileObj) {
    var file;

    if (fileObj.files) {
        file = fileObj.files[0];
        var fr = new FileReader;
        fr.onloadend = changeimg2;
        fr.readAsDataURL(file)
    } else {
        file = fileObj.value;
        changeimg2(file);
    }
}

function onbrowse2() {
    document.getElementById('bannerfile2').click();
}

function changeimg2(str) {
    if(typeof str === "object") {
        str = str.target.result; // file reader
    }

    $(".preview2").css({"background-size":  "220px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(" + str + ")"});
}


function onUpload3(fileObj) {
    var file;

    if (fileObj.files) {
        file = fileObj.files[0];
        var fr = new FileReader;
        fr.onloadend = changeimg3;
        fr.readAsDataURL(file)
    } else {
        file = fileObj.value;
        changeimg3(file);
    }
}

function onbrowse3() {
    document.getElementById('bannerfile3').click();
}

function changeimg3(str) {
    if(typeof str === "object") {
        str = str.target.result; // file reader
    }

    $(".preview3").css({"background-size":  "220px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(" + str + ")"});
}
//]]>

</script>

</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">コンバージョンタグ管理 > 新規クライアント</div>
<p class="border-btm"></p>

<p class="red">※ は必須項目です。</p>
<form action="" method="post"  enctype="multipart/form-data" id="save_form" name="save_form">
<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<!--
<tr>
<td width="130" class="title-tbl02">NO</td>
<td>1</td>
</tr>
<tr>
<td class="title-tbl02">ID</td>
<td>001</td>
</tr>
-->
<tr>
<td class="title-tbl02">クライアントコード</td>
<td><#PRINT client_code#><input type="hidden" name="client_code" value="<#PRINT client_code#>"/><br />

</td>
</tr>
<#PRINT client_code_err#>
<tr>
<td class="title-tbl02">会社名 <span class="red">※</span></td>
<td><input type="text" class="form01" name="company_name" value="<#PRINT company_name#>"/><br />

</td>
</tr>
<#PRINT company_name_err#>
<tr>
<td class="title-tbl02">住所  <span class="red">※</span></td>
<td>
<input type="text" name="address1" class="form01" value="<#PRINT address1#>" /><br>
<input type="text" name="address2" class="form01" value="<#PRINT address2#>" />
<br />
</td>
</tr>
<#PRINT address_err#>
<tr>
<td class="title-tbl02">電話番号 <span class="red">※</span></td>
<td class="link"><input type="text" class="form01" name="phone" value="<#PRINT phone#>"/>
<br />
</td>
</tr>
<#PRINT phone_err#>
<tr>
<td class="title-tbl02">メールアドレス <span class="red">※</span></td>
<td class="link"><input type="text" class="form01" name="mail_address" value="<#PRINT mail_address#>"/>
<br />
</td>
</tr>
<#PRINT email_err#>
<tr>
<td class="title-tbl02">会社のサイト</td>
<td><input type="text" class="form01" name="url" value="<#PRINT url#>"/></td>
</tr>

</table>
<input type="hidden" name="add_flag" value="add_flag"/>
</form>
<div id="line" align="center">
<a href="javascript:void(0)" id="save_btn"><input type="button" class="space02" value="内容を確認" /></a>
<input type="button" class="space02" value="クライアント一覧へ戻る" onclick="location.href='client.php'"/>
</div>

<!--end of table-->


</div>
</body>
</html>
