<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
</head>
<script>
	$(function(){
		$("#save_btn").click(function(){
		$("#save_form").submit();
	});
	});
</script>
<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">クライアント情報</div>
<p class="border-btm"></p>
<form action="" method="post"  enctype="multipart/form-data" id="save_form" name="save_form">

<#PRINT edit_msg#>
<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">クライアントコード</td>
<td><#PRINT client_code#></td>
</tr>
<tr>
<td class="title-tbl02">会社名</td>
<td><input type="text" class="form01" name="company_name" value="<#PRINT company_name#>"></td>
</tr>
<#PRINT company_name_err#>
<tr>
<td class="title-tbl02">住所</td>
<td><input type="text" class="form01" name="address1" value="<#PRINT address1#>"><br><input class="form01" type="text" name="address2" value="<#PRINT address2#>"></td>
</tr>
<#PRINT address_err#>
<tr>
<td class="title-tbl02">電話番号</td>
<td><input type="text" class="form01" name="phone" value="<#PRINT phone#>"></td>
</tr>
<#PRINT phone_err#>
<tr>
<td class="title-tbl02">メールアドレス</td>
<td><input type="text" class="form01" name="mail_address" value="<#PRINT email#>"></td>
</tr>
<#PRINT email_err#>
<tr>
<td class="title-tbl02">会社ウェブサイト</td>
<td><input type="text" class="form01" name="url" value="<#PRINT url#>"></td>
</tr>
</table>
<input type="hidden" name="add_flag" value="add_flag"/>
</form>
<div id="line" align="center">
<a href="javascript:void(0)" id="save_btn"><input type="button" class="space02" value="編集" /></a>&nbsp;
</div>

<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">クライアントコード</td>
<td><#PRINT client_code#></td>
</tr>
<tr>
<td class="title-tbl02">タグ</td>
<td>&ltimg src="https://www.starty-in.jp/tpress/track.php?cid=<#PRINT client_code#>&t=<合計金額>" width="1" height="1" /&gt</td>
</tr>
<tr>
<td class="title-tbl02">売り上げ合計</td>
<td><#PRINT total#>円</td>
</tr>
</table>



<br>
<br>
<!--table of content start-->
<div id="title02">コンバージョン情報</div>
<p class="border-btm"></p>
<table width="300" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="100" class="title-tbl">アドコードーID</td>
<td width="150" class="title-tbl">クリック数合計</td>
<td width="150" class="title-tbl">サンクスページカウント</td>
<td width="150" class="title-tbl">コンバージョン率</td>
</tr>
<#LOOP_START bannerAll#>
<tr>
<td class="tbl"><a href="banner-detail.php?bid=<#LOOP_PRINT banner_id#>"><#LOOP_PRINT banner_id#></a></td>
<td class="tbl"><#LOOP_PRINT click#></td>
<td class="tbl"><#LOOP_PRINT thanks_count#></td>
<td class="tbl"><#LOOP_PRINT conversion#></td>
</tr>
<#LOOP_END bannerAll#>
</table>
<!--end of table-->

<br>
<br><div id="title02">売り上げ情報</div>
<p class="border-btm"></p>
<table width="300" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="100" class="title-tbl">日付</td>
<td width="150" class="title-tbl">売り上げ</td>
</tr>
<#LOOP_START historyAll#>
<tr>
<td class="tbl"><a href="client-history.php?y=<#LOOP_PRINT year#>&m=<#LOOP_PRINT month#>&cid=<#PRINT id#>"><#LOOP_PRINT year#>年<#LOOP_PRINT month#>月</a></td>
<td class="tbl"><#LOOP_PRINT total#></td>
</tr>
<#LOOP_END historyAll#>
</table>
<!--end of table-->




</div>
</body>
</html>
