<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">ライター管理画面</div>
<p class="border-btm"></p>

<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">NO</td>
<td><#PRINT no#></td>
</tr>
<tr>
<td class="title-tbl02">ID</td>
<td><#PRINT wid#></td>
</tr>
<tr>
<td class="title-tbl02">画像</td>
<td class="pic"><div class="pic-wrap"><img src="<#PRINT image#>" alt="" /></div></td>
</tr>
<tr>
<td class="title-tbl02">ライター名</td>
<td><#PRINT name#></td>
</tr>
<tr>
<td class="title-tbl02">ローマ字</td>
<td><#PRINT roma_name#></td>
</tr>
<tr>
<td class="title-tbl02">facebook</td>
<td class="link"><#PRINT fb_url#></td>
</tr>
<tr>
<td class="title-tbl02">twitter</td>
<td class="link"><#PRINT tw_url#></td>
</tr>
<tr>
<td class="title-tbl02">ブログ</td>
<td class="link"><#PRINT blog_url#></td>
</tr>
<tr>
<td class="title-tbl02">投稿記事数</td>
<td><#PRINT access_num#></td>
</tr>
<tr>
<td class="title-tbl02">自己紹介</td>
<td>
<#PRINT introduce#>
</td>
</tr>
</table>

<div id="line" align="center">
<a href="edit2.php?wid=<#PRINT wid#>&no=<#PRINT no#>"><input type="button" class="space02" value="編集" /></a> &nbsp;
<a href="javascript:history.go(-1)"><input type="button" class="space02" value="もどる" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
