<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">外部記事管理画面</div>
<p class="border-btm"></p>

<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">NO</td>
<td><#PRINT no#></td>
</tr>
<tr>
<td class="title-tbl02">ID</td>
<td><#PRINT aid#></td>
</tr>
<tr>
<td class="title-tbl02">タイトル</td>
<td><#PRINT title#></td>
</tr>

<tr>
<td class="title-tbl02">カテゴリ</td>
<td><#PRINT categroy#></td>
</tr>

<tr>
<td class="title-tbl02">投稿日時</td>
<td><#PRINT addtime#></td>
</tr>
<tr>
<td class="title-tbl02">ＰＶ数</td>
<td><#PRINT article_access_num#></td>
</tr>

<tr>
<td class="title-tbl02">画像</td>
<td class="pic"><div class="pic-wrap"><img src="<#PRINT image#>" alt="" /></div></td>
</tr>
<#PRINT video_part#>
<tr>
<td class="title-tbl02">内容</td>
<td>
<#PRINT contents#>
</td>
</tr>
<tr>
<td class="title-tbl02">提供元リンク</td>
<td class="link"><a href="<#PRINT links#>" target="_blank"><#PRINT links#></a></td>
</tr>
<tr>
<td class="title-tbl02">TAG</td>
<td class="link"><#PRINT tag#></td>
</tr>
</table>

<div id="line" align="center">
<#PRINT edit_btn#> &nbsp;
<a href="javascript:history.go(-1)"><input type="button" class="space02" value="もどる" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
