<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">オーディション管理画面</div>
<p class="border-btm"></p>

<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">NO</td>
<td><#PRINT no#></td>
</tr>
<tr>
<td class="title-tbl02">ID</td>
<td><#PRINT aid#></td>
</tr>
<tr>
<td class="title-tbl02">タイトル</td>
<td><#PRINT audition_title#></td>
</tr>
<tr>
<td class="title-tbl02">URL</td>
<td class="link"><a href="<#PRINT audition_url#>" target="_blank"><#PRINT audition_url#></a></td>
</tr>
<tr>
<td class="title-tbl02">募集期限</td>
<td><#PRINT end_time#></td>
</tr>
<tr>
<td class="title-tbl02">投稿日</td>
<td><#PRINT addtime#></td>
</tr>
<tr>
<td class="title-tbl02">NEW</td>
<td><#PRINT audition_new_flag#></td>
</tr>
<tr>
<td class="title-tbl02">詳細内容</td>
<td>
<#PRINT audition_text#>
</td>
</tr>
</table>

<div id="line" align="center">
<a href="edit3.php?aid=<#PRINT aid#>&no=<#PRINT no#>"><input type="button" class="space02" value="編集" /></a> &nbsp;
<a href="javascript:history.go(-1)"><input type="button" class="space02" value="もどる" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
