<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
<script>
//<![CDATA[
$(function(){
    $(".preview").css({"background-size":  "200px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(<#PRINT ba_image#>)"});
})

function onUpload(fileObj) {
var file;
if (fileObj.files) {
    file = fileObj.files[0];
    var fr = new FileReader;
    fr.onloadend = changeimg;
    fr.readAsDataURL(file)
} else {
    file = fileObj.value;
    changeimg(file);
}
}

function onbrowse() {
document.getElementById('bannerfile').click();
}

function changeimg(str) {
if(typeof str === "object") {
    str = str.target.result; // file reader
}

$(".preview").css({"background-size":  "200px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(" + str + ")"});
}
//]]>
</script>
<script>
$(function(){
	$("#save_btn").click(function(){
		$("#save_form").submit();
	});
});
</script>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">広告管理画面 > バナー編集</div>
<div class="number"><a href="main4.php"><input type="button" class="space02" value="新規投稿" /></a>　<a href="guide.html"><input type="button" class="space02" value="掲載箇所" /></a>　<a href="banner.php"><input type="button" class="space02" value="バナ一一覧を見る" /></a></div>
<p class="border-btm"></p>
<form action="" method="post" id="save_form" enctype="multipart/form-data">
<table border="0" cellspacing="2" cellpadding="3" width="930">
<tr>
<td class="title-tbl">バナープレビュー</td>
<td class="title-tbl" width="60">アップロード</td>
<td class="title-tbl" width="180">掲載期間</td>
</tr>
<tr>
<td><input type="button"  class="preview"  onclick="javascript:onbrowse()"/>
<table>
<tr>
<td>リンク先URL</td><td><input type="text" class="form02b" name="ba_url" value="<#PRINT ba_url#>"/></td>
</tr>
<#PRINT ba_url_err#>
<tr>
<td>クライアント名</td><td><input type="text" class="form02b" name="ba_title" value="<#PRINT ba_title#>"/></td>
</tr>
<#PRINT ba_title_err#>
</table>

</td>
<td><input type="file" onchange="onUpload(this);"id="bannerfile" name="bannerfile"/>
</td>
<td>
<select name="ba_start_y">
<#PRINT start_year_pulldown#>
</select>年 <select name="ba_start_m">
<#PRINT start_month_pulldown#>
</select>月 <select name="ba_start_d">
<#PRINT start_day_pulldown#>
</select>日 <br />
<div align="center">～</div>
<select name="ba_end_y">
<#PRINT end_year_pulldown#>
</select>年 <select name="ba_end_m">
<#PRINT end_month_pulldown#>
</select>月 <select name="ba_end_d">
<#PRINT end_day_pulldown#>
</select>日
<#PRINT time_err#>
</td>
</tr>
</table>
<input type="hidden" name="save_flag" value="save_flag" />
</form>

<div id="line" align="center">
<a href="javascript:void(0)" id="save_btn"><input type="button" class="space02" value="保存" /></a> &nbsp;
<a href="detail4.php?bid=<#PRINT id#>"><input type="button" class="space02" value="もどる" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
