<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARYモデル　｜　管理画面</title>
<script src="js/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<script>
$(function(){
	$("#add_btn").click(function(){
		nicEditors.findEditor('display').saveContent();
		$("#add_form").submit();
	});
});
</script>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">記事投稿画面</div>
<p class="border-btm"></p>

<p class="red">※ は必須項目です。</p>
<form action="" method="post"  enctype="multipart/form-data" id="add_form" name="add_form">
<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<!--
<tr>
<td width="130" class="title-tbl02">NO</td>
<td>1</td>
</tr>
<tr>
<td class="title-tbl02">ID</td>
<td>001</td>
</tr>
-->
<tr>
<td class="title-tbl02">キーワード <span class="red">※</span></td>
<td><input type="text" class="form01" name="keyword" value="<#PRINT keyword#>"/><br />
</td>
</tr>
<#PRINT keyword_err#>
<tr>
<td class="title-tbl02">表示</td>
<td>
<textarea name="display" id="display" class="form01" style="width: 800px; height:300px"><#PRINT display#></textarea>
</td>
</tr>
<#PRINT display_err#>
</table>
<input type="hidden" name="add_flag" value="add_flag"/>
</form>
<div id="line" align="center">
<a href="javascript:void(0)" id="add_btn"><input type="button" class="space02" value="内容を確認" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
