<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
<script>
$(function(){
	$("#add_btn").click(function(){
		$("#add_form").submit();
	});
});
</script>
<script type='text/javascript'>//<![CDATA[
	$(function(){
	    $(".propicunknown").css({"background-size":  "150px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(<#PRINT show_img#>)"});
    })

function onUpload(fileObj) {
    var file;

    if (fileObj.files) {
        file = fileObj.files[0];
        var fr = new FileReader;
        fr.onloadend = changeimg;
        fr.readAsDataURL(file)
    } else {
        file = fileObj.value;
        changeimg(file);
    }
}

function onbrowse() {
    document.getElementById('shop_img').click();
}

function changeimg(str) {
    if(typeof str === "object") {
        str = str.target.result; // file reader
    }

    $(".propicunknown").css({"background-size":  "150px auto", "background-repeat": "no-repeat", "background-position": "center center", "background-image": "url(" + str + ")"});
}
//]]>

</script>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">ランキング編集画面</div>
<p class="border-btm"></p>
<form action="" method="post"  enctype="multipart/form-data" id="add_form" name="add_form">
<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">位置 <span class="red">※</span></td>
<td><input type="text" class="form02c" name="ranking" value="<#PRINT ranking#>"/> 位</td>
</tr>
<#PRINT ranking_err#>
<!--
<tr>
<td class="title-tbl02">ID</td>
<td>001</td>
</tr>
-->
<tr>
<td class="title-tbl02">画像 <span class="red">※</span></td>
<td class="pic"><div class="pic-wrap"><!--<img src="img/no-img2.jpg" alt="" />--><input type="button" class="propicunknown" onclick="javascript:onbrowse()" /></div>   <input type="file" class="form03" name="shop_img" id="shop_img"  onchange="onUpload(this);"/></td>
</tr>
<#PRINT shop_img_err#>
<tr>
<tr>
<td class="title-tbl02">店舗名 <span class="red">※</span></td>
<td><input type="text" class="form01" name="shop_name" value="<#PRINT shop_name#>"/></td>
</tr>
<#PRINT shop_name_err#>
<tr>
<td class="title-tbl02">カテゴリ <span class="red">※</span></td>
<td>
<#PRINT shop_category_checkbox#>
</td>
</tr>
<#PRINT shop_category_err#>
</table>
<input type="hidden" name="add_flag" value="add_flag"/>
<input type="hidden" name="up_img" value="<#PRINT up_img#>"/>
</form>
<div id="line" align="center">
<a href="javascript:void(0)" id="add_btn"><input type="button" class="space02" value="内容を確認" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
